/*Hero*/
.hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    background-image: url(../images/hero_background.svg);
    background-size: cover;
    height: 95vh;
    background-position: bottom;
    overflow: hidden;
}

.hero p {
    font-size: 1.4rem;
    padding-bottom: 40px;
}

.hero__img img {
    width:100%;
    transform: rotate(30deg) translate(50%);
    overflow: hidden;
    animation: nudge 2s;
}

.hero__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
}

.hero__img {
    width: 50%;
}

/*Circles, bristle color*/
.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 1px #ccc;
}
.circle_one {
    background: #fff;
}

.circle_two {
    background: #EDD7C4;
}

.circle_third {
    background: #252525;
}

.colors_con {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

/*Text break*/
.text_break-img img {
    width: 100%;
}

.text_break-img {
    width: 50%;
    flex-basis: 50%;
}

.text_break {
    width: 40%;
    display: flex;
    align-items: center;
}

.text_break-big {
    line-height: 70px;
    font-size: 3.5rem;
    position: absolute;
    font-weight: 900;
    display: none;
    padding-right: 0;
    padding: 0 20px;
}

.info_textcon {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #549F91;
}


:root {
	--duration: 800ms;
	--iterations: 1;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay);
	animation-iteration-count: var(--iterations);
	animation-duration: var(--duration);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	animation-name: reveal-text;
    cursor: default;
    width: 50%;
    display: block;
}
	
.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #549F91;
    transform: scaleX(0);
    transform-origin: 0 50%;
    animation-name: revealer-text;
}

@media only screen and (max-width: 2560px) and (min-width: 1920px) {
    .hero {
        height:70vh ;
        min-height: 900px; ;
    }

    .info_textcon {
        height: 450px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 320px)  { 

    .reveal-text {
        width: 100%;
    } 

    .hero {
        height: 1200px;
        background-position: center;
        overflow: visible;
    }

    .hero__container {
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }

    .hero__text {
        width: 100%;
    }

    .hero__img img {
        width: 100%;
       transform: rotate(0) translate(0);
       overflow: hidden;
    }

    .hero__img {
        width: 100%;
    }

    .text_break {
        width: 100%;
    }

    .text_break-img {
        width: 100%;
        flex-basis: 100%;
    }
    
    .text_break-big {
        position: relative;
    }

    .text {
        flex-direction: column;
        justify-content: center;
    }

    .img {
        width: 100%;
        object-fit: contain;
        margin: auto;
        justify-content: center;
    }  
    
    .info_textcon {
        padding-top: 40px;
        margin: auto;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 800px)  { 
    .img {
        max-width: 240px;
        width: 100%;
        margin: auto;
        justify-content: center;
    }  
  }