@keyframes nudge{
    0%, 100% {
      transform: translate(10, 0) rotate(30deg);
    }

  
    10% {
      transform: translate(0, 0) rotate(30deg);
    }
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes reveal-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes revealer-text {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}
