/*Reusable styling*/
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fbfbfb;
    font-size:62.5%;
}

h1 {
    line-height: 1;
    font-size: 3rem;
    color: #262626;
    animation: fadein 1s;
}

h2 {
    font-size: 2.3rem;
    line-height: 2.7rem;
    animation: fadein 1s;
}

h3 {
    padding-top: 15px;
    font-size: 3rem;
    animation: fadein 1s;
}

p {
    font-size: 1.1rem;
}

.small-headline {
    font-size: 1.1rem;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.con {
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

.green-text {
    color: #9CC9C0;
    text-decoration: none;
}

.white-text {
    color: #fff;
}

.bold {
    font-weight: 800;
    font-size: 2rem;
    line-height: 35px;
}

.linebreaker {
    padding: 100px 0;
}

.text {
    flex-direction: column;
    justify-content: center;
}

.img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.float {
    animation: float 2.3s ease-in-out infinite;
    padding: 0 80px;
}

/*Video*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 hack*/
	padding-top: 25px;
	height: 0;
}

.videoWrapper video {
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    left: 0;
	width: 100%;
	height: 100%;
}

video:focus, input:focus{
    outline: none;
}

@media only screen and (max-width: 800px) and (min-width: 320px)  { 
    .con {
        padding: 0 30px;
    }

    .green-text {
        padding: 100px 0;
    }

    .float {
        padding: 0;
    }
}